.listItem {
    justify-content: space-between;
    align-items: start;

}

.icon {
    border-radius: 3px;
    background: transparent;
    border: 1px solid rgb(29, 185, 84);
    color: rgb(0, 0, 0);
}
  
.icon:hover {
    border-radius: 3px;
    background: rgb(29, 185, 84);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}