.cart {
    border: 1px solid rgb(255, 255, 255);
    margin-bottom: 0.5rem;
    border-radius: 10px;
}

.icon {
    border-radius: 3px;
    background: transparent;
    border: 1px solid rgb(29, 185, 84);
    color: rgb(255, 255, 255);
}
  
.icon:hover {
    border-radius: 3px;
    background: rgb(29, 185, 84);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}